<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- basic table -->
    <div class="row">
        <div class="col-lg-4 col-md-12">
           
        </div>

        <div class="col-lg-4 col-md-12">
           
        </div>

        <div class="col-lg-4 col-md-12">
           
        </div>

    </div>
</div>