{% extends 'base.html'%}
{% block content %}


<main id="notFound">

    <!-- start of Hero Section -->
    <section id="hero" class="py-5 mb-5">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="my-4 hero-title"> فاکس نیوز برای همه کاربران ایرانی</h1>
                <span
                    style="position: relative; top: 20px; background-color: #000; color: #fff; padding: 4px; font-size: 14px;border-radius: 5px;">
                    صفحه ای یافت نشد </span>
                <h1 class=" my-4 hero-title"> <b>404</b> </h1>

                <p> بنظر میاد چیزی که دنبالش هستید رو نمیتونید پیدا کنید </p>

                <form action="#" class="form-row w-50 text-center mx-auto notfound-search search-box" method="GET">
                    <input type="text" class="form-control" name="search" placeholder="جستجو کنید">
                    <a href="#"> <i class="fa fa-search zarebin"></i> </a>
                </form>
            </div>
        </div>
    </section>
    <!-- end of Hero Section -->

</main>

<hr style="border-width: 1px;">
{% endblock content %}