{% extends 'base.html' %}
{% set active_page = 'about'%}
{% block content %}
<!-- mini menu toggle on mobile  -->


<!-- main part of about us  -->

<!-- start of main area -->
<main>

    <section class="about-us" id="particles-js">

        <div class="about-us-container">

            <div class="col-12 mb-5 mt-2 mt-sm-5 text-center">
                <h1 class="mt-4 hero-title-0"><b> درباره ما</b></h1>
                <h1 class="mt-4 hero-title"> مارا بیشتر بشناسید </h1>
            </div>

            <div class="row d-flex justify-content-center mt-5">

                <div class="col-md-8">
                    <div class="text-sm-right text-center">
                        <p style="font-size: 1.2rem;">
                            سایت اقتصادخوان به منظور ارتقای اطلاعات اقتصادی کاربران در سال 99 تاسیس گردید.
                              سایت اقتصادخوان با جمع آوری اطلاعات از سایت های معتبر ایرانی و با ذکر منبع خبر به کاربران این امکان را میدهد تا
                              اخبار اقتصادی و هر نوع خبری که مربوط به اقتصاد ایران و جهان میشود را در اختیار داشته باشد.
                              ما تیم اقتصاد خوان امیدواریم با وجود سایت و امکانات جانبی که در طول سالهای آینده نیز به تعداد آنها افزوده خواهد شد
                              بتوانیم سهمی در پویایی کشور و همچنین اطلاعات اقتصادی شما کاربران عزیز داشته باشیم.

                        </p>
                        <p style="font-size: 1.2rem;">
                        
                            اقتصاد خوان آماده شنیدن <a href='egtesadkhan.com/about.html'> انتقادات و پیشنهادات</a> ارزنده شماست
                        </p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-center mt-2">
                        <p style="font-size: 1.2rem;"> <b> <span style="color: tomato;"> و سعی ما این است که هر لحظه به
                                    کیفیت خدمات و ویژگی های اقتصاد خوان اضافه کنیم. </span> </b> </p>
                    </div>
                </div>
            </div>
            <!-- end of div.row -->

        </div>
        <!-- end of div.about-us-container -->
    </section>
    <!-- end of section about-us -->

</main>
<!-- End of main part of about us  -->

<!-- start of footer and bottom area -->

{% endblock %}