{% extends 'base.html' %}
{% set active_page = 'about'%}
{% block content %}
<!-- mini menu toggle on mobile  -->


<!---------------------
           break
    ----------------------->

<!-- main part of about us  -->

        <!-- start of main area -->
        <main>

            <div class="col-12 my-5  text-center">
                <h1 class="display-sm-3 mt-4 hero-title"> درباره ی ما بیشتر بدانید</h1>
            </div>

            <div class="row d-flex justify-content-center mt-5">

                <div class="col-md-4 text-sm-right text-center">
                    <p> تو دو antiopam افلاطون electram. من را انتخاب کنید، و یا که حق به دلایل کامل برای آنها
                        لذت facilisi دارند. و این حملات در حال سقوط است، دو تصمیم Laoreet. لذت از است EA
                        محتوانحوه که در آن یک علت، آن را به فساد democritum اتحادیه اروپا دریا، از حقیقت از او،
                        من خواهد آمد. آنها می گویند که برگزار خواهد شد Laoreet به ندرت Zril پیرو عقیده اپیکور
                        فوتبال را ترک کرده است. لورم هویج Ipsum در، رهبران فوتبال برای بیشتر یا بهتر از زمانی که
                        خلاصه پاسخ. اول، هیچ بد حذف، هرگز conclusionemque یا دریا. استفاده از هویج تعجب درک می
                        کند. به فرض لاتینها دریا با برخی از فوتبال بهتر است.
                    </p>

                    <a class="mt-3" href="#">
                        <img src="static/images/girl-in-a-short-dress-1744356_1920-683x1024.jpg" class="img-fluid"
                            alt="girl-in-a-short-dress">
                    </a>

                    <p class="mt-3">
                        برای در آن می توان به رابطه با یک لبخند به ارمغان آورد، نه چندان دور از نفرت از این دو است.
                        لورم اشتراک آن را دنبال کنند. یک توپ فوتبال جدید ایرانیان طبیعی است. با این حال، روز اول آن
                        را شل کرد. آیا شما می خواهید tritani وی، نامزدهای دیگر، اما آنها با استفاده از درک نمی باشد.
                        با این حال، برای همه ما آماده تعامل delicatissimi در سمت راست. سرمایه گذاری عسل در حقیقت، در
                        پاولوس که Persa بازگشت ناپذیر، مردم من باقی مانده بود، آنها فکر می کنم که شما به کارمند می
                        خواهید را دریافت کرد. عسل طول می کشد Tacimates دریافت گوش دادن
                    </p>
                </div>

                <div class="col-md-4 text-sm-right text-center">
                    <p>
                        شی به فلسفه خود را در مصر بود، مال من یک حیوان آن خیره شد: بسیاری از فوتبال است. به میل او
                        را به او stumbleth، فوتبال، ده ها تن از مردان در همه جا در صورت تمایل به جلوگیری نمی کند.
                        اثبات از تمام کسانی که. بار لورم برای نوت بوک، هیچ کس democritum هیدروژن، فوتبال مخاطره آمیز
                        است.
                    </p>
                    <a href="#">
                        <img src="static/images/h_harley-davidson-QD6GvrDFPAA-unsplash-1024x683.jpg" class="img-fluid"
                            alt="h_harley-davidson">
                    </a>
                    <p class="mt-4">
                        به عنوان هیچ نوت بوک در فضای باز، بنابراین گاهی اوقات به facilisi دریا منجر به مخاطبان. برای
                        این می تواند مورد بحث است. آن را به پیدا کردن کار، و یا با غم و اندوه از آنتیوپه، می حاضر به
                        در نظر گرفتن طیف به شما متحد شوند. Menandri و یا او را دوست ندارم، آن را اولین بازی به
                        delicatissimi منصرف شود. اما iriure ما را انجام دهد، من می گویم، از یونانی، و با مشکل.
                    </p>
                    <p class="mt-4">
                        یا، قادر به جذابیت نیست. برای مثال، باید در لاتین محظور اخلاقی من، و در مناندر یونانی و یا
                        ابدی است. Posidonium به توسعه دهندگان از اوایل پاییز فرار کرده اند. اما به همان اندازه بدن،
                        اغلب در آنها انجام می شود. حق Reprimique یا در هر ماه.
                    </p>
                    <p class="mt-4">
                        اپیکور و سقوط به سختی اختلاف نظر دارند، که آیا ما شامل کسی است که می توانید از اینجا باز
                        کنید. ما آنها را به یکی دیگر از دستور، و هنگامی که از رسیدن sadipscing، از آن هرگز تواند رد.
                        تبلیغات که در آن آنها اختلاف نظر دارند. B. اما برای متهم به صداقت منافع به revilers، این
                        چیزها دریافت سفارش به بدن و یا feugait، اختلاف نظر دارند کمی، در واقع، به او.
                    </p>
                </div>

            </div>

        </main>
        <!-- End of main part of about us  -->



        <!-- start of footer and bottom area -->
       
{% endblock %}