{% extends 'base.html' %}
{% set active_page = 'about'%}
{% block content %}
<!-- mini menu toggle on mobile  -->


<!---------------------
           break
    ----------------------->

<!-- main part of about us  -->

<!-- start of main area -->
<main>

    <section class="about-us" id="particles-js">

        <div class="about-us-container">

            <div class="col-12 mb-5 mt-2 mt-sm-5 text-center">
                <h1 class="mt-4 hero-title-0"><b> درباره ما</b></h1>
                <h1 class="mt-4 hero-title"> مارا بیشتر بشناسید </h1>
            </div>

            <div class="row d-flex justify-content-center mt-5">

                <div class="col-md-8">
                    <div class="text-sm-right text-center">
                        <p style="font-size: 1.2rem;">
                            هدف از درست کردن سایت اقتصاد خوان برای این بود که بتونیم اخبار مهم اقتصادی و ارزی رو در
                            اسرع وقت دراختیار شما کاربران گرامی قرار بدیم.
                            همه ی سعی خودمونو داریم که بتونیم شما را از اخبار روز آگاه نگه داریم
                            هر روز نسبت به روز قبل سعی و تلاش خودمون رو بیشتر میکنیم
                        </p>
                        <p style="font-size: 1.2rem;">
                            ما در مورد اقتصاد و پول و خبر هایی که روی کشور های مختلف تاثیر میزارن به شما خبر رسانی
                            میکنیم ،
                            یه تیم متشکل از برنامه نویسای وب دور هم جمع شدیم و با سایت اقتصاد خوان در خدمت شما هستیم.

                        </p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-center mt-2">
                        <p style="font-size: 1.2rem;"> <b> <span style="color: tomato;"> و سعی ما اینه که هر لحظه به
                                    کیفیت خدمات و ویژگی های اقتصاد خوان اضافه کنیم. </span> </b> </p>
                    </div>
                </div>
            </div>
            <!-- end of div.row -->

        </div>
        <!-- end of div.about-us-container -->
    </section>
    <!-- end of section about-us -->

</main>
<!-- End of main part of about us  -->

<hr style="border-width: 1px; width: 75%;">

<!-- start of footer and bottom area -->

{% endblock %}