{% extends 'base.html' %}
{% set active_page = 'contact'%}
{% block content %}
<!-- start of main area -->
<main>

    <section class="contact-us" id="particles-js">

        <div class="contact-us-container">

            <div class="col-12  mb-4 mt-2 mt-sm-5 text-center">
                <h1 class="mt-4 hero-title-0"><b> ارتباط با ما </b></h1>
                <h1 class="mt-4 hero-title"> نظرات خود را با ما در ارتباط بگذارید <i
                        class="fa fa-envelope mt-2 mx-sm-2"></i> </h1>
            </div>
    
            <div class="row d-flex justify-content-center my-5">
    
                <div class="col-md-7 col-10">
                    <p class="text-sm-right text-center"> انتقادات و پیشنهادات خود را در مورد سایت و اخبار ارز و اقتصادی
                        سایت برای ما ارسال کنید ما به نظرات شما <span style="color: tomato;"> احترام میگذاریم </span> و
                        <span style="color: tomato;">اهمیت بسیاری</span> برایمان دارد. </p>
    
                    <form class="contact-form" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6 col-12">
                                <input type="text" class="form-control" name="name" placeholder="نام شما*">
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <input type="email" class="form-control" name="email" placeholder="ایمیل شما*">
                            </div>
                            <div class="form-group col-md-12 col-12">
                                <input type="text" class="form-control" name="subject" placeholder="موضوع*">
                            </div>
                            <div class="form-group col-md-12 col-12">
                                <textarea class="form-control" name="comment" cols="26" rows="8" placeholder="پیام شما*"
                                    style="width: 100%;"> </textarea>
                            </div>
                            <div class="form-group w-100 d-flex justify-content-center">
                                <input type="submit" value="ارسال" class="our-btn" onclick="test()">
                            </div>
                        </div>
    
                    </form>
                    <!-- massage show when user submit the comment -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, msg in messages%}
                    <div class="alert alert-{{category}}" style="text-align: center;">
                        {{msg}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
    
                </div>
    
            </div>
            <!-- end of div.row -->
        </div>
        <!-- end of div.contact-us-container -->

    </section>
</main>
{% endblock %}