{% extends 'base.html' %}
{% set active_page = 'arzdigital' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12 ">
			<div class="text-center  p-2 mt-5">
				<h1 class="hero-title"><i class="fa fa-flash mx-2 text-dark"></i>از قیمت لحظه ای ارز های دیجیتال با خبر
					باشید<i class="fa fa-flash mx-2 text-dark"></i></h1>
			</div>
		</div>
	</div>
</div>
<main>
	<!-- start of digital table -->
	<section id="table">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="arz-table">
						<table class="table table-responsive-xl table-striped text-center">
							<!-- start of header of table  -->
							<thead>
								<tr>
									<th scope="col"><a href="#"> # </a></th>
									<th scope="col"><a href="#"> ارز دیجیتال <i class="fa fa-compress"></i>
										</a>
									</th>
									<th scope="col"><a href="#"> قیمت <i class="fa fa-compress"></i> </a>
									</th>
									<th scope="col"><a href="#">قیمت ریالی <i class="fa fa-compress"></i>
										</a></th>
								</tr>
							</thead>
							<!-- end of header of table  -->

							<!-- start of body of table  -->
							<tbody>
								<!-- 1 -->
								<tr>
									<th scope="row"></th>
									<td><p>BTCUSDT</p>
										</a></td>
									<td><span id="price_BTCUSDT"></span></td>
									<td><p id="price_BTCUSDT_Toman"></p><span
												class="text-muted small"> تومان
											</span> </td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td><p>ETHUSDT</p>
										</td>
									<td><span id="price_ETHUSDT"></span></td>
									<td><p id="price_ETHUSDT_Toman"></p><span
												class="text-muted small"> تومان
											</span> </td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td><p>XRPUSDT</p>
										</td>
									<td><span id="price_XRPUSDT"></span></td>
									<td><p id="price_XRPUSDT_Toman"></p><span
												class="text-muted small"> تومان
											</span> </td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td><p>BCHUSDT</p>
										</a></td>
									<td><span id="price_BCHUSDT"></span></td>
									<td><p id="price_BCHUSDT_Toman"></p><span
												class="text-muted small"> تومان
											</span> </td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td><p>LTCUSDT</p>
										</a></td>
									<td><span id="price_LTCUSDT"></span></td>
									<td><p id="price_LTCUSDT_Toman"></p><span
												class="text-muted small"> تومان
											</span> </td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td><p>BNBUSDT</p>
										</td>
									<td><span id="price_BNBUSDT"></span></td>
									<td><p id="price_BNBUSDT_Toman"></p><span
												class="text-muted small"> تومان
											</span> </a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td><p>LINKUSDT</p>
										</td>
									<td><span id="price_LINKUSDT"></span></td>
									<td><p id="price_LINKUSDT_Toman"></p><span
												class="text-muted small"> تومان
											</span> </td>
								</tr>
							</tbody>
							<!-- end of body of table  -->
						</table>
						<!-- end of table it self -->
					</div>
					<!-- end of div.arz-table  -->
				</div>
				<!-- end of div.col-12  -->
			</div>
			<!-- end of div.row  -->
		</div>
		<!-- end of div.container-fluid  -->
	</section>
	<!-- end of digital table -->
	<div class="row">
		<div class="col-12 text-center">
			<div class="return">
				<a href="/" data-toggle="tooltip" data-placement="top" title="برگشت به صفحه اصلی"><i
						class="fa fa-undo"></i></a>
			</div>
		</div>
	</div>
</main>
<hr style="border-width: 1px;">
<script>

	var intervalID = setInterval(autoRefreshPage, 60000)

	function autoRefreshPage() {

        var ajax = new XMLHttpRequest();
        var method = "GET";
        var url = "_pricesData";
        var asynchronous = true;

        ajax.open(method, url, asynchronous)
        // sending ajax request
        ajax.send();

        // recieving data from data.php
        ajax.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            // Converting Response to Json File
			var data = JSON.parse(this.responseText);
			var price_BTCUSDT = data['BTCUSDT']
			var price_ETHUSDT = data['ETHUSDT']
			var price_XRPUSDT = data['XRPUSDT']
			var price_BCHUSDT = data['BCHUSDT']
			var price_LTCUSDT = data['LTCUSDT']
			var price_BNBUSDT = data['BNBUSDT']
			var price_LINKUSDT = data['LINKUSDT']

			var dollar = 13500
			document.getElementById("price_BTCUSDT").innerHTML = price_BTCUSDT
			document.getElementById("price_ETHUSDT").innerHTML = price_ETHUSDT
			document.getElementById("price_XRPUSDT").innerHTML = price_XRPUSDT
			document.getElementById("price_BCHUSDT").innerHTML = price_BCHUSDT
			document.getElementById("price_LTCUSDT").innerHTML = price_LTCUSDT
			document.getElementById("price_BNBUSDT").innerHTML = price_BNBUSDT
			document.getElementById("price_LINKUSDT").innerHTML = price_LINKUSDT

			
			document.getElementById("price_BTCUSDT_Toman").innerHTML = Math.round(price_BTCUSDT * dollar)
			document.getElementById("price_ETHUSDT_Toman").innerHTML = Math.round(price_ETHUSDT * dollar)
			document.getElementById("price_XRPUSDT_Toman").innerHTML = Math.round(price_XRPUSDT * dollar)
			document.getElementById("price_BCHUSDT_Toman").innerHTML = Math.round(price_BCHUSDT * dollar)
			document.getElementById("price_LTCUSDT_Toman").innerHTML = Math.round(price_LTCUSDT * dollar)
			document.getElementById("price_BNBUSDT_Toman").innerHTML = Math.round(price_BNBUSDT * dollar)
			document.getElementById("price_LINKUSDT_Toman").innerHTML = Math.round(price_LINKUSDT * dollar)
          }
        }
	}
	window.clearInterval(intervalId);
</script>
{% endblock %}