<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ok</title>
</head>
<body>

    <p>{{ temp }}</p>

</body>
</html>