{% extends 'base.html'%}
{% set active_page = 'home'%}
{% block content %}
<main>

  <!-- start of Hero Section -->
  <section id="hero" class="mb-5">

    <article>
      <div class="top-news">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-3 col-12 p-1">
              <div class="cards-container">

                <!-- item 1 -->
                <div class="our-card item-1" style="background-image: url({{ random_arzdigital[3] }})">

                  <div class="text">
                    <div class="category-title">
                      <span> ارزدیجیتال </span>
                    </div>
                    <p> <a href="{{ random_arzdigital[0] }}">{{ random_arzdigital[1]|truncate(50) }}</a> </p>
                  </div>
                </div>

                <!-- item 2 -->
                <div class="our-card item-2" style=" background-image: url( {{ random_tasnim[3] }}); margin-top: 10px;">

                  <div class="text">
                    <div class="category-title">
                      <span> اقتصاد تسنیم </span>
                    </div>
                    <p> <a href="{{ random_tasnim[0] }}">{{ random_tasnim[1]|truncate(50) }}</a> </p>
                  </div>
                </div>

              </div>
              <!-- end of div.cards-container -->
            </div>
            <!-- end of div.col-3 -->


            <div class="col-md-6 col-12 p-1">
              <div class="cards-container">

                <!-- item 1 -->
                <div class="our-card item-3" style="background-image: url({{ random_bors[3] }}); height: 510px;">

                  <div class="text">
                    <div class="category-title">
                      <span> بورس </span>
                    </div>
                    <p> <a href="{{ random_bors[0] }}"> {{ random_bors[1] }} </a> </p>
                    <div class="post-info d-none d-sm-flex align-items-center">
                      <img src="{{ url_for('admin.static',filename='images/landingpage/profile.jpg') }}" width="30px"
                        height="30px" alt="profile">
                      <p class="m-0 ml-lg-4 ml-md-2 ml-sm-1 ml-0 mr-1"> مدیر </p>
                      |
                      <p class="m-0 mx-lg-4 mx-md-2 mx-sm-1 mx-0">
                        0
                        <i class="fa fa-comment-o"></i>
                      </p>
                      |
                      <p class="m-0 mx-lg-4 mx-md-2 mx-sm-1 mx-0">
                        <i class="fa fa-clock-o"></i>
                        3 دقیقه
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              <!-- end of div.cards-container -->
            </div>
            <!-- end of div.col-3 -->


            <div class="col-md-3 col-12  p-1">
              <div class="cards-container">

                <!-- item 1 -->
                <div class="our-card item-4" style="background-image: url({{random_corona[3]}});">

                  <div class="text">
                    <div class="category-title">
                      <span> کرونا </span>
                    </div>
                    <p> <a href="{{ random_corona[0] }}"> {{ random_corona[1]|truncate(50) }} </a> </p>
                  </div>
                </div>

                <!-- item 2 -->
                <div class="our-card item-5" style="background-image: url({{ random_tejarat[3] }}); margin-top: 10px;">

                  <div class="text">
                    <div class="category-title">
                      <span> اقتصاد تجارت </span>
                    </div>
                    <p> <a href="{{ random_tejarat[0] }}">{{ random_tejarat[1]|truncate(50) }} </a> </p>
                  </div>
                </div>

              </div>
              <!-- end of div.cards-container -->
            </div>
            <!-- end of div.col-3 -->

          </div>
          <!-- end of div.row -->
        </div>
        <!-- end of div.container -->
      </div>
      <!-- end of div.top-news -->
    </article>

    <article>
      <div class="top-slider">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel slider owl-theme">

                {% for corona in corona_news %}
                <div class="item">
                  <div class="our-card">
                    <img src="{{ corona[3] }}" class="ml-2" alt="{{corona[1]}}">
                    <div class="category-info">
                      <a href="{{ corona[0] }}">
                        <p class="text-muted">اخبار کرونا</p>
                      </a>
                      <a href="{{ corona[0] }}">
                        <p> {{ corona[1]|truncate(50) }} </p>
                      </a>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
            <!-- end of div.col-12 -->
          </div>
          <!-- end of div.row -->
        </div>
        <!-- end of div.container -->
      </div>
      <!-- end of div.top-slider -->
    </article>

  </section>
  <!-- end of Hero Section -->





  <div class="col-12 mb-3 mb-sm-0 ad-banner text-center">

  </div>

  <!-- start of highlight Section -->
  <section id="highlights">

    <article>
      <div class="row cards-container">

        <div class="w-100 main-titles">

          <h2 class="text-right"> <b> اخبار ارز دیجیتال</b> </h2>
          <hr class="line-next-to-title">

        </div>


        <!-- OWL Carousel  -->
        <div class="owl-carousel owl-theme">
          {% for news in arzdigital%}

          <div class="item">
            <div class="card" style="width: 100%;">

              <div class="image-container">
                <a class="d-inline" style="width: 100%;" href="{{ news[0] }}">
                  <img src="{{ news[4] }}" class="card-img-top" alt="{{ news[3] }}">
                </a>
              </div>

              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ news[5] }}</h6>
                <a href="{{ news[0] }}">
                  <h5 class="card-title"><b>{{ news[1]|truncate(100) }}</b></h5>
                </a>
                <p class="card-text">{{ news[2]|truncate(100) }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- end of card -->
        </div>
        <!-- end of owl carousel -->
      </div>
      <!-- end of div.row -->
    </article>

  </section>
  <!-- end of highlight Section -->

  <!-- start of section content -->
  <section id="content" dir="rtl">

    <div class="row mt-5">

      <div class="col-lg-6 col-12 mt-lg-0 mt-3">
        
        <div class="w-100 main-titles">
          {% if not data == [] %}
          <h2 class="text-right"> <b> خبر روز</b> </h2>
          <hr class="line-next-to-title">
          {% endif %}
        </div>
        

        <article>
          <div class="day-news">

            <div class="row">
              {% for newstoday in data %}
              <div class="col-xl-6 col-lg-12">
                <!-- item 1 -->
                <div class="our-card">

                  <div class="col-md-6 p-0">
                    <div class="img-container">
                      <a href="{{ newstoday[0] }}"> <img src="{{ newstoday[4] }}" class="ml-2" alt="{{ newstoday[1] }}"> </a>
                    </div>
                  </div>

                  <div class="col-md-6 p-0 d-flex p-0">
                    <div class="category-info">
                      <a href="{{ newstoday[0] }}">
                        <p class="text-muted">{{ newstoday[1]|truncate(50) }}</p>
                      </a>
                      <a href="{{ newstoday[0] }}">
                        <p> {{ newstoday[2]|truncate(50) }} </p>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
              {% endfor %}
              <!-- end of row -->
            </div>
          </div>
          <!-- end of div day news -->
        </article>

      </div>
      <!-- end of div.col-md-6 -->


      <div class="col-lg-6 col-12 mt-lg-0 mt-3">
        
        <div class="w-100 main-titles">
          {% if not bors_news_data == [] %}
          <h2 class="text-right"> <b> اخبار بورس</b> </h2>
          <hr class="line-next-to-title">
          {% endif %}
        </div>
        
        <article>
          <div class="corona-virus">

            <div class="row">

              {% for burs in bors_news_data %}
              <div class="col-xl-6 col-lg-12">
                <!-- item 1 -->
                <div class="our-card">
                  <div class="col-md-6 p-0 ">
                    <div class="img-container">
                      <a href="{{ burs[0] }}"> <img src="{{ burs[4] }}" class="ml-2" alt="{{ burs[1] }}"> </a>
                    </div>
                  </div>
                  <div class="col-md-6 d-flex p-0 ">
                    <div class="category-info">
                      <a href="{{ burs[0] }}">
                        <p class="text-muted">{{burs[1]}}</p>
                      </a>
                      <a href="{{ burs[0] }}">
                        <p> {{ burs[2]|truncate(50) }} </p>
                      </a>
                    </div>
                  </div>
                  
                  

                </div>
              </div>
              {% endfor %}
            </div>
            <!-- end of div.row inside div.col-md-6 -->
          </div>
          <!-- end of div.corona-virus -->
        </article>

      </div>
      <!-- end of div.col-md-6 -->



      <!-- digital coin news bottom of the screen  -->
      <article>
        <div class="digital-coin">

          <ul>
            {% for data in corona_data %}
            <span class="text-danger">اخبار ویروس کرونا</span>
            <li class="card-title"><a href="{{data[0]}}">{{ data[1]}} <span>:</span> </a></li>
            <li>{{data[2]|truncate(80)}}</li>
            {% endfor %}
          </ul>

        </div>
      </article>
      <!-- end of div.digital-coin -->


    </div>
    <!-- end of row -->

    <!-- end of main row in content area -->

    <!-- pagination
    using Jinja and data that passed to this page 
    -->
    <div class="row my-5">
      <div class="col-12 d-flex justify-content-center">
        <ul class="pagination" id="pagination">
          <li class="py-4 px-3"> <a href="/">1</a> </li>
          {% if maxLeft>1 %}
          <li class="py-4 px-3">...</li>
          {% endif%}
          {% for page in range(maxLeft,maxRight)%}
          {% if not loop.index == 1%}
          <li class="py-4 px-3"> <a href="{{ url_for('home',page = page )}}">{{page}} </a> </li>
          {%endif%}
          {% endfor %}
          {% if maxRight < page_num %}
          <li class="py-4 px-3">...</li>
          {% endif%}
          <li class="py-4 px-3"> <a href="{{ url_for('home',page = page_num )}}">{{page_num}} </a> </li>
        </ul>
      </div>
    </div>

    <div class="col-12 my-4 text-center">
      <div id="pos-article-display-10941"></div>
    </div>

  </section>
  <!-- end of section content -->

</main>
<!-- end of main -->
{% endblock content %}

<!-- start of bottem & Footer -->