{% extends 'base.html'%}
{% set active_page = 'home'%}
{% block content %}
<main>

  <div class="col-12 mb-4 text-center">
    <h1 class="mt-5 hero-title"> <i class="fa fa-firefox"></i> فاکس نیوز برای همه کاربران ایرانی <i
        class="fa fa-firefox"></i> </h1>
    <h2>ip: {{ip[0][0]}}</h2>
  </div>

  <!-- start of Hero Section -->
  <section id="hero" class="mb-5">

    <div id="carouselExampleFade" style="position: relative;" class="mt-sm-5  carousel slide carousel-fade"
      data-ride="carousel">
      <div class="carousel-inner">
        {% for post in slider_data%}
        {% if loop.index == 1 %}
        <div class="carousel-item active" data-interval="5000">
          {% else %}
          <div class="carousel-item" data-interval="5000">
            {% endif %}
            <!-- 1nd image with text in it -->

            <img src="{{post[3]}}" width="auto" height="650px" class="d-block w-100" alt="images-for-carousel">
            <!-- text in it -->
            <div class="row"
              style="padding: 5px 20px; position: absolute; right:0; bottom:0; color: #fff; z-index: 100;">
              <div class="col-md-8 concept text-center p-3 text-sm-right"
                style="background-color: rgba(255,255,255,0.9) ;color: #000; border-radius: 10px;">
                <a href="{{ post[2] }}">
                  <h2> <b> {{ post[0] }}</b> </h2>
                </a>
                <p class="text-sm-right h5 mt-4 d-none d-sm-block">{{ post[1] }}
                </p>
              </div>
            </div>
            <!-- text in it -->
          </div>
          {% endfor %}


        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  </section>
  <!-- end of Hero Section -->



  <hr class="my-5">

  <!-- start of highlight Section -->
  <section id="highlights">

    <div class="row cards-container">

      <div class="w-100">
        <h1 class="text-center display-sm-2 mb-5"> <b>آخرین بازدیدها</b> </h1>
      </div>


      <!-- OWL Carousel  -->
      <div class="owl-carousel owl-theme">
        {% for _ in range(10)%}
        <!-- item 1 -->
        <div class="item">
          <div class="card" style=" width: 100%;">
            <a href="#">
              <img src="static/images/ship.jpg" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted"> اسفند - 98 / <span class="mr-2">
                  سیاست
                </span> </h6>
              <a href="#">
                <h4 class="card-title"><b>پنج کاری که پرندگان دریایی انجام میدهند</b></h4>
              </a>
              <p class="card-text">هنگامی که او در زیر یک درخت آنها باور دارند که به دنیا آمد،
                ما
                آنها را با شما به عنوان مورد. بدون هیچ توضیحی به اجرا در تهیه کردند. برای
                آنچه
                در آن است و همه چیز بزرگ. در مس پالایش می گویند</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end of card -->
      </div>
      <!-- end of card -->
    </div>
  </section>
  <!-- end of highlight Section -->

  <hr class="my-5">

  <section id="content" dir="rtl">

    <!-- start of main content area  -->

    <div class="w-100">
      <h1 class="text-center mb-5 display-sm-2"> <b>اخبار روز</b> </h1>
    </div>

    <div class="row">
      {% for post in data %}
      <div class="col-sm-6">
        <div class="card daily-content-cards" style="width: 100%;">
          <a href="{{ post[2] }}">
            <img src="{{ post[3] }}" class="card-img-top img-fluid" alt="gras-grun">
          </a>

          <div class="card-body text-sm-right text-center">
            <h6 class="card-subtitle mb-2 text-muted">{{post[4]}}<span class="mr-2 hvr-underline-from-left pb-2">
              </span> </h6>
            <a href="{{ post[2]}}">
              <h4 class="card-title"><b>{{ post[0] }}</b>
              </h4>
            </a>
            <p class="card-text">{{ post[1] }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- end pf div.col-md-6 -->
    </div>
    <!-- end of row -->


    <!-- end of main row in content area -->

    <!-- pagination
    using Jinja and data that passed to this page 
    -->
    <div class="row my-5">
      <div class="col-12 d-flex justify-content-center">
        <ul class="pagination" id="pagination">
          <li class="py-4 px-3"> <a href="/" >1</a> </li>
          {% if maxLeft>1 %}
          <li class="py-4 px-3">...</li>
          {% endif%}
          {% for page in range(maxLeft,maxRight)%}
          {% if not loop.index == 1%}
          <li class="py-4 px-3"> <a href="{{ url_for('home',page = page )}}" >{{page}} </a> </li>
          {%endif%}
          {% endfor %}
          {% if maxRight < page_num %}
          <li class="py-4 px-3">...</li>
          {% endif%}
          <li class="py-4 px-3"> <a href="{{ url_for('home',page = page_num )}}" >{{page_num}} </a> </li>
        </ul>
      </div>
    </div>

  </section>
  <!-- end of sections -->

</main>
<!-- end of main -->

<hr style="border-width: 1px;">

<!-- start of bottem & Footer -->

<div class="special-button bg-light">
  <a href="#" class="our-btn"> برو <br> <span> بالا </span> </a>
</div>

{% endblock content %}